
<%- include('../partials/_head.ejs') %>   
    <body>
      <%- include('../partials/_header-bg.ejs') %>
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital">Fotograf <span style="color: #232222;">Ekle</span></h1>
               </div>
            </div>
         </div>
      </div>
      <div class="contact_section_2">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="mail_section map_form_container">
                     <form id="form2" action="/adminLogin/photoUpload" method="POST">
                        <div class="row">                       
                           <input type="text" class="mail_text" placeholder="title" name="title">                           
                        </div>
                        <div class="row">
                           <input type="text" class="mail_text" placeholder="desc" name="desc">                         
                        </div>
                        <div class="row">
                           <p>Oncesi</p>
                           <div class="col-md-3">
                              <div class="my-3">
                                 <input type="file" class="form-control-file rounded-0"  name="image1">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <p>Sonrası</p>
                           <div class="col-md-3">
                              <div class="my-3">
                                 <input type="file" class="form-control-file rounded-0"  name="image2">
                              </div>
                           </div>
                        </div>
                        <div class="btn_main">
                            <button type="submit">
                                <div class="send_bt active">
                                    <a href="javascript:;" onclick="document.getElementById('form2').submit();">Yukle</a>
                                </div>
                            </button>
                          </div>
                        
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      <%- include('../partials/_footer.ejs') %>
   </body>
</html>