    <!-- testimonial section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer_logo"><a href="/"><img src="/images/logoasılpng103.png" alt="logo"></a></div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <h3 class="useful_text">Linkler</h3>
                    <div class="footer_menu">
                        <ul>
                            <li class="active"><a href="/">Anasayfa</a></li>
                            <li><a href="/hizmetlerimiz">Hizmetlerimiz</a></li>
                            <li><a href="/hakkinda">Hakkımızda</a></li>
                            <li><a href="/yaptigimiz_isler">Yaptığımız İşler</a></li>
                            <li><a href="/iletisim">İletişim</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <h1 class="useful_text">İletişime Geç</h1>
                    <div class="location_text">
                        <ul>
                            <li>
                                <a href="https://maps.app.goo.gl/ozrkCHpTvL1BXM6R6">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i><span
                                        class="padding_left_10">Lokasyon</span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:+905353011107">
                                    <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Telefon Numarası : 05353011107</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/+905353011107">
                                    <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Whatsapp :
                                        05353011107</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
     <!-- footer section end -->
      <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
           <p class="copyright_text">2024 Her Hakkı Saklıdır. <a href="https://wa.me/+905353011107">İletişim İçin Tıklayınız.</a></p>
        </div>
    </div>
     <!-- copyright section end -->
     <!-- Javascript files-->
      <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3CXQLPH1TP">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3CXQLPH1TP');
    </script>
     <script src="/js/jquery.min.js"></script>
     <script src="/js/popper.min.js"></script>
     <script src="/js/bootstrap.bundle.min.js"></script>
     <script src="/js/jquery-3.0.0.min.js"></script>
     <script src="/js/plugin.js"></script>
     