<!DOCTYPE html>
<html lang="tr">

    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>Pendik Halı ve Koltuk Yıkama, Kaynarca İstanbul, Karaca Halı Yıkama</title>
        <meta name="keywords" content="Karaca Halı Yıkama">
        <meta name="description"
            content="Pendik Halı Yıkama, Kaynarca Halı Yıkama , Kartal Halı yıkama , Otomatik Makine ile Kaliteli, Hızlı, Uygun Fiyatlarla, Yün, Makina, İpek, El Dokuma Halı Yıkama, Yatak, Battaniye, Yorgan ve Overlok, Kilim, Halıflex Yıkama Hizmeti Vermekteyiz.Karaca Halı Yıkama">
        <meta name="author" content="Talha Nazlı">

        <meta property="og:title" content="Karaca Halı Yıkama" />
        <meta property="og:description" content="Pendik Halı Yıkama, Kaynarca Halı Yıkama , Kartal Halı yıkama , Otomatik Makine ile Kaliteli, Hızlı, Uygun Fiyatlarla, Yün, Makina, İpek, El Dokuma Halı Yıkama, Yatak, Battaniye, Yorgan ve Overlok, Kilim, Halıflex Yıkama Hizmeti Vermekteyiz.Karaca Halı Yıkama" />
        <meta property="og:image" content="http://karacahaliyikama/images/hali_yikama.jpeg" />

        <link rel="canonical" href="https://karacahaliyikama.com/" />
        <meta name=”robots” content=”index, follow”>
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="/images/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    </head>