<!-- header_to section start -->
<div class="header_top">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="call_text"><a href="tel:+905353011107"><img src="/images/call-icon.png"><span class="padding_15">05353011107</span></div>
          </div>
          <!-- <div class="col-md-4">
             <div class="social_icon">
                <ul>
                   <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
             </div>
          </div> -->
          <div class="col-md-6">
             <div class="call_text_1"><a href="https://wa.me/+905353011107"><img src="/images/whatsapp.png"><span class="padding_15">Whatsapp</span></div>
          </div>
       </div>
    </div>
 </div>
 <!-- header_to section end -->
 <!-- header section start -->
 <div class="header_section header_bg">
    <div class="container-fluid">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand"href="/"><img src="/images/logoasılpng64.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                   <a class="nav-link" href="/">Anasayfa</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/hizmetlerimiz">Hizmetlerimiz</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/hakkinda">Hakkımızda</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/yaptigimiz_isler">Yaptığımız İşler</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/iletisim">İletişim</a>
                </li>
                <% if (UserIN) { %>
                  <li class="nav-item">
                     <a class="nav-link" href="/adminLogin/photoUploadPage">Panel</a>
                  </li> 
               <% } %>
                <% if (UserIN) { %>
                  <li class="nav-item">
                     <a class="nav-link" href="/adminLogin/logout">Çıkış</a>
                  </li> 
               <% } %>      
             </ul>
             <!-- <form class="form-inline my-2 my-lg-0">
               <div class="login_bt">
                   <ul>
                      <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                   </ul>
                </div>
             </form> -->
          </div>
       </nav>
    </div>
 </div>
 <!-- header section end -->