<!DOCTYPE html>
<html>
   <%- include('./partials/_head.ejs') %>
   <body>
      <%- include('./partials/_header-bg') %>
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="about_taital">About Our Company</div>
                  <p class="about_text">page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed</p>
               </div>
            </div>
            <div class="about_section_2">
               <div class="row">
                  <div class="col-md-4 padding_0">
                     <div class="hover01 column">
                        <figure><img src="images/about-img1.png"></figure>
                     </div>
                     <div class="emergencey_bt"><a href="#">Emergency Service</a></div>
                  </div>
                  <div class="col-md-4 padding_0">
                     <div class="hover01 column">
                        <figure><img src="images/about-img2.png"></figure>
                     </div>
                     <div class="emergencey_bt active"><a href="#">Solutions</a></div>
                  </div>
                  <div class="col-md-4 padding_0">
                     <div class="hover01 column">
                        <figure><img src="images/about-img3.png"></figure>
                     </div>
                     <div class="emergencey_bt"><a href="#">Agents</a></div>
                  </div>
               </div>
            </div>
            <div class="read_bt"><a href="#">Read More</a></div>
         </div>
      </div>
      <!-- about section end -->
      <%- include('./partials/_footer.ejs') %>
   </body>
</html>