 
<%- include('./partials/_head.ejs') %>   
   <body>
      <%- include('./partials/_header-bg.ejs') %>
      <!-- blog section start -->
      <div class="blog_section margin_90">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-7 padding_right0">
                  <div class="blog_img"><img src="images/insurance-img.png"></div>
               </div>
               <div class="col-md-5">
                  <h1 class="blog_taital">Happiness With Insurance</h1>
                  <p class="blog_text">page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposedpage when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed</p>
                  <div class="readmore_bt"><a href="#">Read More</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog section end -->
      <%- include('./partials/_footer.ejs') %>
   </body>
</html>