<!DOCTYPE html>
<html>
   <%- include('./partials/_head.ejs') %>
   <body>
      <%- include('./partials/_header-bg') %>
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="about_taital">Şirketimiz Hakkında</div>
                  <p class="about_text">KAYNARCA HALI YIKAMA olarak 10 yıldır Pendik ilçesinde uzman kadromuz ve kaliteli ekibimiz ile hizmet vermekteyiz.
                     Müşteri Memnuniyetimiz üst seviyededir. Bizim için en önemli şey
                      müşteri memnuniyeti. Firmamız halı yıkama temizliğinde aldığı tüm 
                      işlere titizlikle en başından sonuna kadar şeffaf davranmaktadır.
                       Müşterilerimize işimizle alakalı diledikleri her konuda uzman ekip
                        tarafından cevaplanmaktadır. Böylece müşterilerimiz firmamızda 
                        kullanılan temizlik maddesinden, işin alımı, teslim ve temin 
                        sürecinde yapılan tüm işlemler hakkında her konuda bilgi
                         alabiliyorlar. Bizi çekinmeden istediğiniz zaman arayabilir
                          ve firmamızdan bilgi alabilirsiniz. Anadolu yakasına komple
                           hizmet vermekteyiz.</p>
               </div>
            </div>
            <div class="read_bt"><a href="https://wa.me/+905353011107">İletişim</a></div>
         </div>
      </div>
      <!-- about section end -->
      <%- include('./partials/_footer.ejs') %>
   </body>
</html>