
<%- include('./partials/_head.ejs') %>
   </head>
   <body>
      <%- include('./partials/_header-bg.ejs') %>
      <!-- insurance section start -->
      <div class="insurance_section layout_padding margin_90">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="insurance_taital">HİZMETLERİMİZ</h1>
                  <p class="insurance_text">Firmamız uzun yıllardan beri
                     İstanbul Anadolu Yakası'nda halı yıkama da siz
                      değerli müşterilerimize kaliteli hizmet vermeyi
                       ilke edinmiştir. Hizmet Politikamız Müşterilerimizin
                        ihtiyaç ve beklentilerini, kaliteli hizmet anlayışı 
                        ile karşılamak, etkin ekip çalışmasına inanmak, iyi 
                        ahlaklı hizmet kuruluşu olmak, çalışmalarımızı yaratıcı
                         ve üretken kılmak ve bunu sağlamak. Yasalara ve düzenlemelere
                          titizlikle uymak ve bundan taviz vermemek, kurumumuzun ortaya
                           koyduğu hizmet kalitesinin sektör genelinde örnek alınacağına
                            inanmak. Portföyümüzde bulunan müşterilerimizle sağladığımız
                             bire bir yakın ilgi ve dostluklar bizi diğer firmalardan
                              ayıran en önemli özelliğimizdir.</p>
               </div>
            </div>
            <div class="insurance_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="insurance_box">
                        <div class="car_img"><img src="/images/hali_yikama.jpeg"></div>
                        <h3 class="car_text">Halı Yıkama</h3>
                        <p class="fact_text">Halı yıkama işlemi ciddiye alınması gereken
                           bir iştir. Kaynarca Halı  Yıkama olarak halı
                            yıkama işini ciddiye alıp, tazikli suyla
                             değil, bu iş için özel üretilmiş profesyonel makinalarla
                              halı yıkama ve halı kurutma işlemini gerçekleştiriyoruz.</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="insurance_box">
                        <div class="car_img"><img src="/images/kilim.jpeg"></div>
                        <h3 class="car_text">KİLİM YIKAMA </h3>
                        <p class="fact_text">>Her çeşit halıyı yıkadığı gibi kilim yıkama hizmeti
                           ile el dokuması veya makine dokuması olan kilimlerin
                            temizliğini de yapmaktadır. Her halıda olduğu gibi
                             kilimlerde de profesyonel ve garantili yıkama işlemi
                              yapmaktayız.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="insurance_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="insurance_box">
                        <div class="car_img"><img src="/images/battaniye.jpeg"></div>
                        <h3 class="car_text">BATTANİYE YIKAMA</h3>
                        <p class="fact_text">Profesyonel olarak battaniye yıkama hizmetleri
                           sağlayan bir firma ile çalışmanız sizi uzun vadede 
                           daha sağlıklı yapacaktır. Battaniye yıkama işlemini 
                           kaliteli malzemelerimiz ve güçlü makinalarımız ile 
                           gerçekleştiriyoruz.</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="insurance_box">
                        <div class="car_img"><img src="/images/haliflex.jpeg"></div>
                        <h3 class="car_text">HALIFLEX YIKAMA</h3>
                        <p class="fact_text">En çok sevilen zemin döşemelerinden
                           olan halıflekslerin yıl içinde düzgün aralıklar
                            ile yıkanması ve günlük bakımlarının yapılması
                             şarttır. Ev ve ofislerimiz hatta otellerimiz gibi
                              halıfleks yer döşemelerinin fazlaca olduğu alanlarda
                               ortam ne kadar temiz olursa olsun halıflekslerin
                                periyodik ve günlük temizliği yapılmadıkça genelde
                                 temizlik ve hijyen oluştu diyemeyiz.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="read_bt_1"><a href="https://wa.me/+905353011107">İletişime geç</a></div>
         </div>
      </div>
      <!-- insurance section end -->
      <%- include('./partials/_footer.ejs') %>
   </body>
</html>