
<%- include('./partials/_head.ejs') %>   
   <body>
      <%- include('./partials/_header-bg.ejs') %>
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="about_taital">İLETİŞİM</div>
                  <p class="about_text">Kaynarca Halı Yıkama</p>
                  <p class="about_text">Adres: Fevzi Çakmak, Bayır Sk. No:1, 34989 Pendik/İstanbul</p>
                  <p class="about_text">Telefon: 05353011107</p>
                  <p class="about_text">Web Sitesi:</p>
                     
                     
                     
                     
               </div>
            </div>
            <div class="read_bt"><a href="https://wa.me/+905353011107">Whatsapp Tıkla</a></div>
         </div>
      </div>
      <!-- contact section end -->
      <%- include('./partials/_footer.ejs') %>
   </body>
</html>