
<%- include('./partials/_head') %>

   <body>
         <%- include('./partials/_header') %>
         <!-- about section start -->
         <div class="about_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="about_taital">Şirketimiz Hakkında</div>
                     <p class="about_text">KAYNARCA HALI YIKAMA olarak 10 yıldır Pendik ilçesinde uzman kadromuz ve kaliteli ekibimiz ile hizmet vermekteyiz.
                         Müşteri Memnuniyetimiz üst seviyededir. Bizim için en önemli şey
                          müşteri memnuniyeti. Firmamız halı yıkama temizliğinde aldığı tüm 
                          işlere titizlikle en başından sonuna kadar şeffaf davranmaktadır.
                           Müşterilerimize işimizle alakalı diledikleri her konuda uzman ekip
                            tarafından cevaplanmaktadır. Böylece müşterilerimiz firmamızda 
                            kullanılan temizlik maddesinden, işin alımı, teslim ve temin 
                            sürecinde yapılan tüm işlemler hakkında her konuda bilgi
                             alabiliyorlar. Bizi çekinmeden istediğiniz zaman arayabilir
                              ve firmamızdan bilgi alabilirsiniz. Anadolu yakasına komple
                               hizmet vermekteyiz.</p>
                  </div>
               </div>
               <hr>
               <div class="about_section_2">
                  <div class="row">
                     <div class="col-md-4 padding_0">
                        <div class="hover01 column">
                           <figure><img src="/images/indir.jpeg" alt="Hizmetlerimiz"></figure>
                        </div>
                        <div class="emergencey_bt"><a href="/hizmetlerimiz">Hizmetlerimiz</a></div>
                     </div>
                     <div class="col-md-4 padding_0">
                        <div class="hover01 column">
                           <figure><img class="img-fluid" src="/images/hakkimizda.jfif" alt="Hakkımızda"></figure>
                        </div>
                        <div class="emergencey_bt"><a href="/hakkinda">Hakkımızda</a></div>
                     </div>
                     <div class="col-md-4 padding_0">
                        <div class="hover01 column">
                           <figure><img class="img-fluid" src="/images/yaptigimiz_isler.jpeg" alt="Yaptığımız İşler"></figure>
                        </div>
                        <div class="emergencey_bt"><a href="/yaptigimiz_isler">Yaptığımız İşler</a></div>
                     </div>
                  </div>
               </div>
               <div class="read_bt"><a href="https://wa.me/+905353011107">İletişime Geç</a></div>
            </div>
         </div>
         <!-- about section end -->
         <!-- blog section start -->
         <div class="blog_section">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-7 padding_right0">
                     <div class="blog_img"><img class="img-fluid" src="images/hali_yikama_anasayfa.jpg" alt="Halı yıkama resim"></div>
                  </div>
                  <div class="col-md-5">
                     <h1 class="blog_taital">HALI YIKAMA</h1>
                     <p class="blog_text">Halı yıkama işlemi ciddiye alınması gereken
                         bir iştir. Kaynarca Halı  Yıkama olarak halı
                          yıkama işini ciddiye alıp, tazikli suyla
                           değil, bu iş için özel üretilmiş profesyonel makinalarla
                            halı yıkama ve halı kurutma işlemini gerçekleştiriyoruz.</p>
                     <div class="readmore_bt"><a href="https://wa.me/+905353011107">İletişime Geç</a></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- blog section end -->
         <!-- insurance section start -->
         <div class="insurance_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h1 class="insurance_taital">HİZMETLERİMİZ</h1>
                     <p class="insurance_text">Firmamız uzun yıllardan beri
                         İstanbul Anadolu Yakası'nda halı yıkama da siz
                          değerli müşterilerimize kaliteli hizmet vermeyi
                           ilke edinmiştir. Hizmet Politikamız Müşterilerimizin
                            ihtiyaç ve beklentilerini, kaliteli hizmet anlayışı 
                            ile karşılamak, etkin ekip çalışmasına inanmak, iyi 
                            ahlaklı hizmet kuruluşu olmak, çalışmalarımızı yaratıcı
                             ve üretken kılmak ve bunu sağlamak. Yasalara ve düzenlemelere
                              titizlikle uymak ve bundan taviz vermemek, kurumumuzun ortaya
                               koyduğu hizmet kalitesinin sektör genelinde örnek alınacağına
                                inanmak. Portföyümüzde bulunan müşterilerimizle sağladığımız
                                 bire bir yakın ilgi ve dostluklar bizi diğer firmalardan
                                  ayıran en önemli özelliğimizdir.</p>
                  </div>
               </div>
               <div class="insurance_section_2">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="insurance_box">
                           <div class="car_img"><img src="/images/hali_yikama.jpeg" alt="Halı Yıkama"></div>
                           <h3 class="car_text">Halı Yıkama</h3>
                           <p class="fact_text">Halı yıkama işlemi ciddiye alınması gereken
                              bir iştir. Kaynarca Halı  Yıkama olarak halı
                               yıkama işini ciddiye alıp, tazikli suyla
                                değil, bu iş için özel üretilmiş profesyonel makinalarla
                                 halı yıkama ve halı kurutma işlemini gerçekleştiriyoruz.</p>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="insurance_box">
                           <div class="car_img"><img src="/images/kilim.jpeg" alt="Kilim Yıkama"></div>
                           <h3 class="car_text">KİLİM YIKAMA                           </h3>
                           <p class="fact_text">Her çeşit halıyı yıkadığı gibi kilim yıkama hizmeti
                               ile el dokuması veya makine dokuması olan kilimlerin
                                temizliğini de yapmaktadır. Her halıda olduğu gibi
                                 kilimlerde de profesyonel ve garantili yıkama işlemi
                                  yapmaktayız.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="insurance_section_2">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="insurance_box">
                           <div class="car_img"><img src="/images/battaniye.jpeg" alt="Battaniye Yıkama"></div>
                           <h3 class="car_text">BATTANİYE YIKAMA</h3>
                           <p class="fact_text">Profesyonel olarak battaniye yıkama hizmetleri
                               sağlayan bir firma ile çalışmanız sizi uzun vadede 
                               daha sağlıklı yapacaktır. Battaniye yıkama işlemini 
                               kaliteli malzemelerimiz ve güçlü makinalarımız ile 
                               gerçekleştiriyoruz.</p>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="insurance_box">
                           <div class="car_img"><img src="/images/haliflex.jpeg" alt="Halıflex Yıkama"></div>
                           <h3 class="car_text">HALIFLEX YIKAMA</h3>
                           <p class="fact_text">En çok sevilen zemin döşemelerinden
                               olan halıflekslerin yıl içinde düzgün aralıklar
                                ile yıkanması ve günlük bakımlarının yapılması
                                 şarttır. Ev ve ofislerimiz hatta otellerimiz gibi
                                  halıfleks yer döşemelerinin fazlaca olduğu alanlarda
                                   ortam ne kadar temiz olursa olsun halıflekslerin
                                    periyodik ve günlük temizliği yapılmadıkça genelde
                                     temizlik ve hijyen oluştu diyemeyiz.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="read_bt_1"><a href="https://wa.me/+905353011107">İletişime geç</a></div>
               <hr>
            </div>
         </div>
         <!-- insurance section end -->
         
         <!-- testimonial section start -->
         <div class="testimonial_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h1 class="testimonial_taital">Referanslarimiz</h1>
                     <p class="testimonial_text">Müşterilerimizden yorumlar.</p>
                  </div>
               </div>
               <div class="testimonial_section_2">
                  <div id="main_slider" class="carousel slide" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="testimonial_main">
                                    <div class="testimonial_left">
                                       <div class="quick_icon"><img src="images/quick-icon.png" alt="yorumlar"></div>
                                    </div>
                                    <div class="testimonial_middle">
                                       <div class="border"></div>
                                    </div>
                                    <div class="testimonial_right">
                                       <p class="long_text">Mükemmel bir titiz ve tmemizlikte işini yapan harika bir işletmedir.
                                          Devamlı olarak halılarımı burada yıkatırım.</p>
                                       <h3 class="client_text">Talha Nazlı</h3>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="testimonial_main">
                                    <div class="testimonial_left">
                                       <div class="quick_icon"><img src="images/quick-icon.png" alt="yorumlar"></div>
                                    </div>
                                    <div class="testimonial_middle">
                                       <div class="border"></div>
                                    </div>
                                    <div class="testimonial_right">
                                       <p class="long_text">Çok güleryüzlü ve mükemmel bir işletme.
                                          Ulaştığınız vakit işinizi bir çırpıda hallediyorlar.
                                       </p>
                                       <h3 class="client_text">Kadir Çetiner</h3>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="testimonial_main">
                                    <div class="testimonial_left">
                                       <div class="quick_icon"><img src="images/quick-icon.png" alt="yorumlar"></div>
                                    </div>
                                    <div class="testimonial_middle">
                                       <div class="border"></div>
                                    </div>
                                    <div class="testimonial_right">
                                       <p class="long_text">Halılarım çok kötü bir vaziyetteydi.
                                          Atmayı düşünüyorduk.Taki bu işletme ile tanışana kadar.Halılarım
                                          ilk günki gibi tertemiz oldu.
                                       </p>
                                       <h3 class="client_text">Burak Özer</h3>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                     </a>
                     <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>

         <%- include('./partials/_footer.ejs') %>

            <!-- sidebar -->
            <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
            <script src="js/custom.js"></script>
            <!-- javascript -->
            <script src="js/owl.carousel.js"></script>
            <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
            <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
   </body>

</html>