
<%- include('./partials/_head') %>

   <body>
         <%- include('./partials/_header') %>
         <!-- about section start -->
         <div class="about_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="about_taital">About Our Company</div>
                     <p class="about_text">page when looking at its layout. The point of using Lorem Ipsum is that it
                        has a more-or-less normal distribution of letters, as opposed</p>
                  </div>
               </div>
               <div class="about_section_2">
                  <div class="row">
                     <div class="col-md-4 padding_0">
                        <div class="hover01 column">
                           <figure><img src="images/about-img1.png"></figure>
                        </div>
                        <div class="emergencey_bt"><a href="#">Emergency Service</a></div>
                     </div>
                     <div class="col-md-4 padding_0">
                        <div class="hover01 column">
                           <figure><img src="images/about-img2.png"></figure>
                        </div>
                        <div class="emergencey_bt active"><a href="#">Solutions</a></div>
                     </div>
                     <div class="col-md-4 padding_0">
                        <div class="hover01 column">
                           <figure><img src="images/about-img3.png"></figure>
                        </div>
                        <div class="emergencey_bt"><a href="#">Agents</a></div>
                     </div>
                  </div>
               </div>
               <div class="read_bt"><a href="#">Read More</a></div>
            </div>
         </div>
         <!-- about section end -->
         <!-- blog section start -->
         <div class="blog_section">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-7 padding_right0">
                     <div class="blog_img"><img src="images/insurance-img.png"></div>
                  </div>
                  <div class="col-md-5">
                     <h1 class="blog_taital">Happiness With Insurance</h1>
                     <p class="blog_text">page when looking at its layout. The point of using Lorem Ipsum is that it has
                        a more-or-less normal distribution of letters, as opposedpage when looking at its layout. The
                        point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                        opposed</p>
                     <div class="readmore_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- blog section end -->
         <!-- insurance section start -->
         <div class="insurance_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h1 class="insurance_taital">Our Insurances</h1>
                     <p class="insurance_text">page when looking at its layout. The point of using Lorem Ipsum is that
                        it has a more-or-less normal distribution of letters, as opposed</p>
                  </div>
               </div>
               <div class="insurance_section_2">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="insurance_box active">
                           <div class="car_img"><img src="images/car-icon.png"></div>
                           <h3 class="car_text">Car Insurance</h3>
                           <p class="fact_text">fact that a reader will be distracted by the readable content of a page
                              when looking at its layout. The point of using Lorem Ipsum is that it has</p>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="insurance_box">
                           <div class="car_img"><img src="images/flight-icon.png"></div>
                           <h3 class="car_text">Travel Insurance</h3>
                           <p class="fact_text">fact that a reader will be distracted by the readable content of a page
                              when looking at its layout. The point of using Lorem Ipsum is that it has</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="insurance_section_2">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="insurance_box">
                           <div class="car_img"><img src="images/house-icon.png"></div>
                           <h3 class="car_text">Home Insurance</h3>
                           <p class="fact_text">fact that a reader will be distracted by the readable content of a page
                              when looking at its layout. The point of using Lorem Ipsum is that it has</p>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="insurance_box">
                           <div class="car_img"><img src="images/man-icon.png"></div>
                           <h3 class="car_text">Life Insurance</h3>
                           <p class="fact_text">fact that a reader will be distracted by the readable content of a page
                              when looking at its layout. The point of using Lorem Ipsum is that it has</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="read_bt_1"><a href="#">Read More</a></div>
            </div>
         </div>
         <!-- insurance section end -->
         <!-- contact section start -->
         <div class="contact_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="contact_taital">Get In <span style="color: #232222;">Touch</span></h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="contact_section_2">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="mail_section map_form_container">
                        <form action="">
                           <div class="row">
                              <div class="col-md-6">
                                 <input type="text" class="mail_text" placeholder="Your Name" name="Your Name">
                              </div>
                              <div class="col-md-6">
                                 <input type="text" class="mail_text" placeholder="Email" name="Email">
                              </div>
                              <div class="col-md-6">
                                 <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
                              </div>
                              <div class="col-md-6">
                                 <textarea class="massage-bt" placeholder="Your  Words Message" rows="5" id="comment"
                                    name="Your  Words Message"></textarea>
                              </div>
                           </div>
                           <div class="btn_main">
                              <div class="send_bt active"><a href="#">Send</a></div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- contact section end -->
         <!-- testimonial section start -->
         <div class="testimonial_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h1 class="testimonial_taital">Testimonial</h1>
                     <p class="testimonial_text">page when looking at its layout. The point of using Lorem Ipsum is that
                        it has a more-or-less normal distribution of letters, as opposed</p>
                  </div>
               </div>
               <div class="testimonial_section_2">
                  <div id="main_slider" class="carousel slide" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="testimonial_main">
                                    <div class="testimonial_left">
                                       <div class="quick_icon"><img src="images/quick-icon.png"></div>
                                    </div>
                                    <div class="testimonial_middle">
                                       <div class="border"></div>
                                    </div>
                                    <div class="testimonial_right">
                                       <p class="long_text">It is a long established fact that a reader will be
                                          distracted by the readable content of a page when looking at its layout. The
                                          point of using Lorem Ipsum is that</p>
                                       <h3 class="client_text">Joniya mero</h3>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="testimonial_main">
                                    <div class="testimonial_left">
                                       <div class="quick_icon"><img src="images/quick-icon.png"></div>
                                    </div>
                                    <div class="testimonial_middle">
                                       <div class="border"></div>
                                    </div>
                                    <div class="testimonial_right">
                                       <p class="long_text">It is a long established fact that a reader will be
                                          distracted by the readable content of a page when looking at its layout. The
                                          point of using Lorem Ipsum is that</p>
                                       <h3 class="client_text">Joniya mero</h3>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="testimonial_main">
                                    <div class="testimonial_left">
                                       <div class="quick_icon"><img src="images/quick-icon.png"></div>
                                    </div>
                                    <div class="testimonial_middle">
                                       <div class="border"></div>
                                    </div>
                                    <div class="testimonial_right">
                                       <p class="long_text">fact that a reader will be distracted by the readable
                                          content of a page when looking at its layout. The point of using Lorem Ipsum
                                          is that</p>
                                       <h3 class="client_text">Joniya mero</h3>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                     </a>
                     <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>

         <%- include('./partials/_footer.ejs') %>

            <!-- sidebar -->
            <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
            <script src="js/custom.js"></script>
            <!-- javascript -->
            <script src="js/owl.carousel.js"></script>
            <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
            <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
   </body>

</html>